{% extends 'navbar/usernavbar.html' %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Drivin - Driving School Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="file:///E:/pagedesign/campus%20eduction/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BOOK NEST</title>
    <style>
/********** Template CSS **********/
:root {
    --primary: #F3BD00;
    --secondary: #757575;
    --light: #F3F6F8;
    --dark: #0C2B4B;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Facts ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}


/*** Courses ***/
.courses {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../img/carousel-1.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.courses-item .courses-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.courses-item:hover .courses-overlay {
    height: 100%;
    opacity: 1;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
}

.team-item {
    padding: .75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .75);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-social {
    height: 100%;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--primary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    background: #092139;
}

.copyright a {
    color: var(--primary);
}

.copyright a:hover {
    color: var(--light);
}
    </style>
</head>
<body>
    <!--<div class="container">
        <h1>Welcome to BOOK NEST</h1>
        <div class="welcome-message">Welcome back user, <span style="color: white; background-color: #009688; padding: 5px 10px; border-radius: 5px;">{{ user.username }}</span></div>
        <div class="admin-features">

            <a href="{% url 'genre' %}">View Books</a>
            <a href="{% url 'feedback' %}">Feed Back</a>\
            <!doctype html>-->
<html>


<body>









<!--    &lt;!&ndash; Carousel Start &ndash;&gt;-->
<!--    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">-->
<!--        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">-->
<!--            <div class="carousel-inner">-->
<!--                <div class="carousel-item active">-->
<!--                    <img class="w-100" src="img/carousel-1.jpg" alt="Image">-->
<!--                    <div class="carousel-caption">-->
<!--                        <div class="container">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-lg-7">-->
<!--                                    <h1 class="display-2 text-light mb-5 animated slideInDown">Learn To Drive With Confidence</h1>-->
<!--                                    <a href="" class="btn btn-primary py-sm-3 px-sm-5">Learn More</a>-->
<!--                                    <a href="" class="btn btn-light py-sm-3 px-sm-5 ms-3">Our Courses</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <img class="w-100" src="img/carousel-2.jpg" alt="Image">-->
<!--                    <div class="carousel-caption">-->
<!--                        <div class="container">-->
<!--                            <div class="row justify-content-center">-->
<!--                                <div class="col-lg-7">-->
<!--                                    <h1 class="display-2 text-light mb-5 animated slideInDown">Safe Driving Is Our Top Priority</h1>-->
<!--                                    <a href="" class="btn btn-primary py-sm-3 px-sm-5">Learn More</a>-->
<!--                                    <a href="" class="btn btn-light py-sm-3 px-sm-5 ms-3">Our Courses</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"-->
<!--                data-bs-slide="prev">-->
<!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Previous</span>-->
<!--            </button>-->
<!--            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"-->
<!--                data-bs-slide="next">-->
<!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Next</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Carousel End &ndash;&gt;-->


<!--    &lt;!&ndash; Facts Start &ndash;&gt;-->
<!--    <div class="container-fluid facts py-5 pt-lg-0">-->
<!--        <div class="container py-5 pt-lg-0">-->
<!--            <div class="row gx-0">-->
<!--                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">-->
<!--                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">-->
<!--                        <div class="d-flex">-->
<!--                            <div class="flex-shrink-0 btn-lg-square bg-primary">-->
<!--                                <i class="fa fa-car text-white"></i>-->
<!--                            </div>-->
<!--                            <div class="ps-4">-->
<!--                                <h5>Easy Driving Learn </h5>-->
<!--                                <span>Clita erat ipsum lorem sit sed stet duo justo erat amet</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">-->
<!--                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">-->
<!--                        <div class="d-flex">-->
<!--                            <div class="flex-shrink-0 btn-lg-square bg-primary">-->
<!--                                <i class="fa fa-users text-white"></i>-->
<!--                            </div>-->
<!--                            <div class="ps-4">-->
<!--                                <h5>National Instructor</h5>-->
<!--                                <span>Clita erat ipsum lorem sit sed stet duo justo erat amet</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">-->
<!--                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">-->
<!--                        <div class="d-flex">-->
<!--                            <div class="flex-shrink-0 btn-lg-square bg-primary">-->
<!--                                <i class="fa fa-file-alt text-white"></i>-->
<!--                            </div>-->
<!--                            <div class="ps-4">-->
<!--                                <h5>Get licence</h5>-->
<!--                                <span>Clita erat ipsum lorem sit sed stet duo justo erat amet</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Facts End &ndash;&gt;-->


<!--    &lt;!&ndash; About Start &ndash;&gt;-->
<!--    <div class="container-xxl py-6">-->
<!--        <div class="container">-->
<!--            <div class="row g-5">-->
<!--                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">-->
<!--                        <img class="position-absolute w-100 h-100" src="img/about-1.jpg" alt="" style="object-fit: cover;">-->
<!--                        <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="img/about-2.jpg" alt="" style="width: 200px; height: 200px;">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="h-100">-->
<!--                        <h6 class="text-primary text-uppercase mb-2">About Us</h6>-->
<!--                        <h1 class="display-6 mb-4">We Help Students To Pass Test & Get A License On The First Try</h1>-->
<!--                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>-->
<!--                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>-->
<!--                        <div class="row g-2 mb-4 pb-2">-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Fully Licensed-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Online Tracking-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Afordable Fee-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <i class="fa fa-check text-primary me-2"></i>Best Trainers-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row g-4">-->
<!--                            <div class="col-sm-6">-->
<!--                                <a class="btn btn-primary py-3 px-5" href="">Read More</a>-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <a class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2" href="tel:+0123456789">-->
<!--                                    <span class="flex-shrink-0 btn-square bg-primary">-->
<!--                                        <i class="fa fa-phone-alt text-white"></i>-->
<!--                                    </span>-->
<!--                                    <span class="px-3">+012 345 6789</span>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; About End &ndash;&gt;-->


<!--    &lt;!&ndash; Courses Start &ndash;&gt;-->
<!--    <div class="container-xxl courses my-6 py-6 pb-0">-->
<!--        <div class="container">-->
<!--            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">-->
<!--                <h6 class="text-primary text-uppercase mb-2">Tranding Courses</h6>-->
<!--                <h1 class="display-6 mb-4">Our Courses Upskill You With Driving Training</h1>-->
<!--            </div>-->
<!--            <div class="row g-4 justify-content-center">-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">-->
<!--                        <div class="text-center p-4 pt-0">-->
<!--                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$99</div>-->
<!--                            <h5 class="mb-3">Automatic Car Lessons</h5>-->
<!--                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>-->
<!--                            <ol class="breadcrumb justify-content-center mb-0">-->
<!--                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>-->
<!--                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>-->
<!--                            </ol>-->
<!--                        </div>-->
<!--                        <div class="position-relative mt-auto">-->
<!--                            <img class="img-fluid" src="img/courses-1.jpg" alt="">-->
<!--                            <div class="courses-overlay">-->
<!--                                <a class="btn btn-outline-primary border-2" href="">Read More</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">-->
<!--                        <div class="text-center p-4 pt-0">-->
<!--                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$99</div>-->
<!--                            <h5 class="mb-3">Highway Driving Lesson</h5>-->
<!--                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>-->
<!--                            <ol class="breadcrumb justify-content-center mb-0">-->
<!--                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>-->
<!--                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>-->
<!--                            </ol>-->
<!--                        </div>-->
<!--                        <div class="position-relative mt-auto">-->
<!--                            <img class="img-fluid" src="img/courses-2.jpg" alt="">-->
<!--                            <div class="courses-overlay">-->
<!--                                <a class="btn btn-outline-primary border-2" href="">Read More</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">-->
<!--                        <div class="text-center p-4 pt-0">-->
<!--                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$99</div>-->
<!--                            <h5 class="mb-3">International Driving</h5>-->
<!--                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>-->
<!--                            <ol class="breadcrumb justify-content-center mb-0">-->
<!--                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>-->
<!--                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>-->
<!--                            </ol>-->
<!--                        </div>-->
<!--                        <div class="position-relative mt-auto">-->
<!--                            <img class="img-fluid" src="img/courses-3.jpg" alt="">-->
<!--                            <div class="courses-overlay">-->
<!--                                <a class="btn btn-outline-primary border-2" href="">Read More</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="bg-primary text-center p-5">-->
<!--                        <h1 class="mb-4">Make Appointment</h1>-->
<!--                        <form>-->
<!--                            <div class="row g-3">-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="form-floating">-->
<!--                                        <input type="text" class="form-control border-0" id="gname" placeholder="Gurdian Name">-->
<!--                                        <label for="gname">Your Name</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="form-floating">-->
<!--                                        <input type="email" class="form-control border-0" id="gmail" placeholder="Gurdian Email">-->
<!--                                        <label for="gmail">Your Email</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="form-floating">-->
<!--                                        <input type="text" class="form-control border-0" id="cname" placeholder="Child Name">-->
<!--                                        <label for="cname">Courses Type</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="form-floating">-->
<!--                                        <input type="text" class="form-control border-0" id="cage" placeholder="Child Age">-->
<!--                                        <label for="cage">Car Type</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <div class="form-floating">-->
<!--                                        <textarea class="form-control border-0" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>-->
<!--                                        <label for="message">Message</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-12">-->
<!--                                    <button class="btn btn-dark w-100 py-3" type="submit">Submit</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Courses End &ndash;&gt;-->


<!--    &lt;!&ndash; Features Start &ndash;&gt;-->
<!--    <div class="container-xxl py-6">-->
<!--        <div class="container">-->
<!--            <div class="row g-5">-->
<!--                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <h6 class="text-primary text-uppercase mb-2">Why Choose Us!</h6>-->
<!--                    <h1 class="display-6 mb-4">Best Driving Training Agency In Your City</h1>-->
<!--                    <p class="mb-5">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>-->
<!--                    <div class="row gy-5 gx-4">-->
<!--                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">-->
<!--                            <div class="d-flex align-items-center mb-3">-->
<!--                                <div class="flex-shrink-0 btn-square bg-primary me-3">-->
<!--                                    <i class="fa fa-check text-white"></i>-->
<!--                                </div>-->
<!--                                <h5 class="mb-0">Fully Licensed</h5>-->
<!--                            </div>-->
<!--                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">-->
<!--                            <div class="d-flex align-items-center mb-3">-->
<!--                                <div class="flex-shrink-0 btn-square bg-primary me-3">-->
<!--                                    <i class="fa fa-check text-white"></i>-->
<!--                                </div>-->
<!--                                <h5 class="mb-0">Online Tracking</h5>-->
<!--                            </div>-->
<!--                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">-->
<!--                            <div class="d-flex align-items-center mb-3">-->
<!--                                <div class="flex-shrink-0 btn-square bg-primary me-3">-->
<!--                                    <i class="fa fa-check text-white"></i>-->
<!--                                </div>-->
<!--                                <h5 class="mb-0">Afordable Fee</h5>-->
<!--                            </div>-->
<!--                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">-->
<!--                            <div class="d-flex align-items-center mb-3">-->
<!--                                <div class="flex-shrink-0 btn-square bg-primary me-3">-->
<!--                                    <i class="fa fa-check text-white"></i>-->
<!--                                </div>-->
<!--                                <h5 class="mb-0">Best Trainers</h5>-->
<!--                            </div>-->
<!--                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">-->
<!--                        <img class="position-absolute w-100 h-100" src="img/about-1.jpg" alt="" style="object-fit: cover;">-->
<!--                        <img class="position-absolute top-0 end-0 bg-white ps-3 pb-3" src="img/about-2.jpg" alt="" style="width: 200px; height: 200px">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Features End &ndash;&gt;-->


<!--    &lt;!&ndash; Team Start &ndash;&gt;-->
<!--    <div class="container-xxl py-6">-->
<!--        <div class="container">-->
<!--            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">-->
<!--                <h6 class="text-primary text-uppercase mb-2">Meet The Team</h6>-->
<!--                <h1 class="display-6 mb-4">We Have Great Experience Of Driving</h1>-->
<!--            </div>-->
<!--            <div class="row g-0 team-items">-->
<!--                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="team-item position-relative">-->
<!--                        <div class="position-relative">-->
<!--                            <img class="img-fluid" src="img/team-1.jpg" alt="">-->
<!--                            <div class="team-social text-center">-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="bg-light text-center p-4">-->
<!--                            <h5 class="mt-2">Full Name</h5>-->
<!--                            <span>Trainer</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="team-item position-relative">-->
<!--                        <div class="position-relative">-->
<!--                            <img class="img-fluid" src="img/team-2.jpg" alt="">-->
<!--                            <div class="team-social text-center">-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="bg-light text-center p-4">-->
<!--                            <h5 class="mt-2">Full Name</h5>-->
<!--                            <span>Trainer</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="team-item position-relative">-->
<!--                        <div class="position-relative">-->
<!--                            <img class="img-fluid" src="img/team-3.jpg" alt="">-->
<!--                            <div class="team-social text-center">-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="bg-light text-center p-4">-->
<!--                            <h5 class="mt-2">Full Name</h5>-->
<!--                            <span>Trainer</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">-->
<!--                    <div class="team-item position-relative">-->
<!--                        <div class="position-relative">-->
<!--                            <img class="img-fluid" src="img/team-4.jpg" alt="">-->
<!--                            <div class="team-social text-center">-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="bg-light text-center p-4">-->
<!--                            <h5 class="mt-2">Full Name</h5>-->
<!--                            <span>Trainer</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Team End &ndash;&gt;-->


<!--    &lt;!&ndash; Testimonial Start &ndash;&gt;-->
<!--    <div class="container-xxl py-6">-->
<!--        <div class="container">-->
<!--            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">-->
<!--                <h6 class="text-primary text-uppercase mb-2">Testimonial</h6>-->
<!--                <h1 class="display-6 mb-4">What Our Clients Say!</h1>-->
<!--            </div>-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="owl-carousel testimonial-carousel">-->
<!--                        <div class="testimonial-item text-center">-->
<!--                            <div class="position-relative mb-5">-->
<!--                                <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-1.jpg" alt="">-->
<!--                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">-->
<!--                                    <i class="fa fa-quote-left fa-2x text-primary"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="fs-4">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>-->
<!--                            <hr class="w-25 mx-auto">-->
<!--                            <h5>Client Name</h5>-->
<!--                            <span>Profession</span>-->
<!--                        </div>-->
<!--                        <div class="testimonial-item text-center">-->
<!--                            <div class="position-relative mb-5">-->
<!--                                <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-2.jpg" alt="">-->
<!--                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">-->
<!--                                    <i class="fa fa-quote-left fa-2x text-primary"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="fs-4">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>-->
<!--                            <hr class="w-25 mx-auto">-->
<!--                            <h5>Client Name</h5>-->
<!--                            <span>Profession</span>-->
<!--                        </div>-->
<!--                        <div class="testimonial-item text-center">-->
<!--                            <div class="position-relative mb-5">-->
<!--                                <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-3.jpg" alt="">-->
<!--                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">-->
<!--                                    <i class="fa fa-quote-left fa-2x text-primary"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="fs-4">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>-->
<!--                            <hr class="w-25 mx-auto">-->
<!--                            <h5>Client Name</h5>-->
<!--                            <span>Profession</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Testimonial End &ndash;&gt;-->


<!--    &lt;!&ndash; Footer Start &ndash;&gt;-->
<!--    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">-->
<!--        <div class="container">-->
<!--            <div class="row g-5">-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h4 class="text-white mb-4">Get In Touch</h4>-->
<!--                    <h2 class="text-primary mb-4"><i class="fa fa-car text-white me-2"></i>Drivin</h2>-->
<!--                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>-->
<!--                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>-->
<!--                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h4 class="text-light mb-4">Quick Links</h4>-->
<!--                    <a class="btn btn-link" href="">About Us</a>-->
<!--                    <a class="btn btn-link" href="">Contact Us</a>-->
<!--                    <a class="btn btn-link" href="">Our Services</a>-->
<!--                    <a class="btn btn-link" href="">Terms & Condition</a>-->
<!--                    <a class="btn btn-link" href="">Support</a>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h4 class="text-light mb-4">Popular Links</h4>-->
<!--                    <a class="btn btn-link" href="">About Us</a>-->
<!--                    <a class="btn btn-link" href="">Contact Us</a>-->
<!--                    <a class="btn btn-link" href="">Our Services</a>-->
<!--                    <a class="btn btn-link" href="">Terms & Condition</a>-->
<!--                    <a class="btn btn-link" href="">Support</a>-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <h4 class="text-light mb-4">Newsletter</h4>-->
<!--                    <form action="">-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">-->
<!--                            <button class="btn btn-primary">Sign Up</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    <h6 class="text-white mt-4 mb-3">Follow Us</h6>-->
<!--                    <div class="d-flex pt-2">-->
<!--                        <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                        <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                        <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-youtube"></i></a>-->
<!--                        <a class="btn btn-square btn-outline-light me-0" href=""><i class="fab fa-linkedin-in"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Footer End &ndash;&gt;-->


<!--    &lt;!&ndash; Copyright Start &ndash;&gt;-->
<!--    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">-->
<!--                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.-->
<!--                </div>-->
<!--                <div class="col-md-6 text-center text-md-end">-->
<!--                    &lt;!&ndash;/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/&ndash;&gt;-->
<!--                    Designed By <a href="https://htmlcodex.com">HTML Codex</a>-->
<!--                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/js/userhome.js"></script>
</body>
</html>
{% endblock %}
